<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="RuleEngine-Elasticsearch"/>
<stringAttribute key="TALEND_JOB_ID" value="_lgTCIPwQEeesh_HAc-h6_A"/>
<stringAttribute key="TALEND_JOB_NAME" value="datetest"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
