<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Local_Project"/>
<stringAttribute key="TALEND_JOB_ID" value="_awC38H2iEeOG1PUph4A83A"/>
<stringAttribute key="TALEND_JOB_NAME" value="ElasticsearchExample"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
